In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

dataframe_sampah = pd.read_excel('data_jabar.xlsx', sheet_name='data')
dataframe_sampah

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [9]:
#No. 2
tahun = 2020
jumlah = 0

for index, row in dataframe_sampah.iterrows():
    if row['tahun'] == tahun:
        jumlah = jumlah + row['jumlah_produksi_sampah']

print(f"Total Produksi Sampah Pada Tahun 2020 Adalah {jumlah:.2f} ton")

Total Produksi Sampah Pada Tahun 2020 Adalah 25333.00 ton

In [11]:
#No.3
total_pertahun = {}

for i, row in dataframe_sampah.iterrows():
    tahun = row['tahun']
    jumlah = row['jumlah_produksi_sampah']
    
    if pd.isna(jumlah):
        jumlah = 0

    total_pertahun[tahun] = total_pertahun.get(tahun, 0) + jumlah

print('Total Produksi Sampah Pertahun :')
for thn, jmlh in total_pertahun.items():
    print(f'Tahun {thn} : {jmlh:.2f} ton')

Total Produksi Sampah Pertahun :
Tahun 2015 : 20969.27 ton
Tahun 2016 : 20969.27 ton
Tahun 2017 : 20969.27 ton
Tahun 2018 : 22772.92 ton
Tahun 2019 : 24490.56 ton
Tahun 2020 : 25333.00 ton
Tahun 2021 : 15735.36 ton
Tahun 2022 : 0.00 ton
Tahun 2023 : 0.00 ton

In [12]:
#No.4
total_kotakabupaten_pertahun = {}

for i, row in dataframe_sampah.iterrows():
    daerah = row['nama_kabupaten_kota']
    jumlah = row['jumlah_produksi_sampah']
    
    if pd.isna(jumlah):
        jumlah = 0

    total_kotakabupaten_pertahun[daerah] = total_kotakabupaten_pertahun.get(daerah, 0) + jumlah

print('Total Produksi Sampah PerKota/Kabupaten Pertahun :')
for dae, jmlh in total_kotakabupaten_pertahun.items():
    print(f'Tahun {dae} : {jmlh:.2f} ton')

Total Produksi Sampah PerKota/Kabupaten Pertahun :
Tahun KABUPATEN BOGOR : 13113.49 ton
Tahun KABUPATEN SUKABUMI : 4038.19 ton
Tahun KABUPATEN CIANJUR : 6497.92 ton
Tahun KABUPATEN BANDUNG : 11934.04 ton
Tahun KABUPATEN GARUT : 4484.29 ton
Tahun KABUPATEN TASIKMALAYA : 3531.33 ton
Tahun KABUPATEN CIAMIS : 2329.72 ton
Tahun KABUPATEN KUNINGAN : 2486.63 ton
Tahun KABUPATEN CIREBON : 3205.17 ton
Tahun KABUPATEN MAJALENGKA : 2593.39 ton
Tahun KABUPATEN SUMEDANG : 2532.71 ton
Tahun KABUPATEN INDRAMAYU : 5383.18 ton
Tahun KABUPATEN SUBANG : 4735.53 ton
Tahun KABUPATEN PURWAKARTA : 2262.90 ton
Tahun KABUPATEN KARAWANG : 5997.44 ton
Tahun KABUPATEN BEKASI : 11328.27 ton
Tahun KABUPATEN BANDUNG BARAT : 4972.37 ton
Tahun KABUPATEN PANGANDARAN : 1277.55 ton
Tahun KOTA BOGOR : 5952.47 ton
Tahun KOTA SUKABUMI : 1833.73 ton
Tahun KOTA BANDUNG : 14521.78 ton
Tahun KOTA CIREBON : 1887.57 ton
Tahun KOTA BEKASI : 15504.31 ton
Tahun KOTA DEPOK : 12209.61 ton
Tahun KOTA CIMAHI : 3112.35 ton
Tahun KOTA TASIKMALAYA : 2754.78 ton
Tahun KOTA BANJAR : 758.93 ton

In [14]:
dataframe_sampah.to_csv('data_produksi_sampah_jabar.csv', index=False)
dataframe_sampah.to_excel('data_produksi_sampah_jabar.xlsx', index=False)